.modal {
    height: 100vh;
    width: 100vw;
    background: darkgray;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
    overflow: scroll;
}

.modal__content {
    padding: 20px;
    border-radius: 30px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;
    width: 488px;
    margin-bottom: 32px;
}

@media (max-width: 768px) {
    .modal__content {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .add-early-payment {
        width: 50%;
        align-self: center;
        position: fixed;
        bottom: 80px;
    }
    .modal__title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 15px;
    }
    .modal__section-your-monthly-salary {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .input__data-monthly-salary {
        width: 100%;
    }
    .modal__section-what-we-reduce {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 20px;
    }
    .wrapper-payment-term {
        margin-top: 35px;
    }
    .wrapper-payment-term__item-payment {
        margin-left: 0;
    }
    .add-early-payment {
        width: 93%;
        align-self: center;
        position: fixed;
        bottom: 25px;
    }
    .modal__heading {
        font-size: 20px;
        margin-top: 30px;
    }
    .modal__cross {
        margin-top: 10px;
        margin-right: 20px;
    }
    .modal__total--calculation {
        margin-bottom: 15px;
    }
}

.modal__content.active {
    transform: scale(1);
}
