.modal {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
    background: darkgray;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    position: relative;
    padding: 20px;
    border-radius: 30px;
    background-color: white;
    transition: 0.4s all;
    width: 488px;
    max-width: 100%;
}

@media (max-width: 768px) {
    .modal__content {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100%;
        border-radius: 0;
    }
    .modal__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 15px;
    }
    .modal__section-your-monthly-salary {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .input__data-monthly-salary {
        width: 100%;
    }
    .modal__section-what-we-reduce {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .wrapper-payment-term {
        margin-top: 35px;
    }
    .wrapper-payment-term__item-payment {
        margin-left: 0;
    }
    .add-early-payment {
        width: 100%;
        bottom: 25px;
    }
    .modal__heading {
        font-size: 20px;
        margin-top: 30px;
    }
    .modal__cross {
        margin-top: 10px;
        margin-right: 20px;
    }
    .modal__total--calculation {
        margin-bottom: 15px;
    }
}
